@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600&display=swap');
* {
  margin: 0;
  padding:0;
  border:0;
  outline:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
  --color-primary: #64ffda;
  --color-bg: #f0f8ff;
  --transition: all 400ms ease;

--timing: 2s;
--color-shadow: lightgray;
--pan-color-light: #3949AB;
--pan-color-dark: #5C6BC0;
--loader-color: #FDD835;
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat Alternates', sans-serif;
  background: var(--color-bg);
}

h1,h2,h3,h4,h5{
  font-weight: 500;
}

h1{
  font-size: 2.5rem;
}