
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
.main {
    display: flex;
    flex-direction: column;
}
.headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;;
}
.headers h1{
color: teal;
padding: 0.5rem;
}

.headers h3{
    color: red;
    }
.headers h5{
    color: blue;

}

.contents{
    display: flex;
    gap: 2.5rem
}
.contentItem {
    flex: 1;
    padding: 0 3rem
}

.contentItemWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;

}

.contentItemWrapper label {
    font-size: larger;
    padding: 1rem;
}

.buttonWrapper{ 
    display: flex;
    justify-content: space-between;
    gap:2rem;
    padding: 2rem;
}

.resultWrapper {
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
    padding: 2rem 2rem 2rem 1rem;

}
.resultContainer{
    white-space:pre-wrap;
    padding: 0 2rem;
}

.imageContainer{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
object-fit: cover;
}

.inputContainer{
    width: 70%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary);
    resize: none;
}

.genarateButton {
    background-color:var(--color-primary);
    width: max-content;
    display:inline-block;
    padding: 0.75rem 1.2rem;
    border-radius: 1rem;
    border: 1px splid var(--color-primary);
    transition: var(--transition);
  }

@keyframes loader {
  0% {
    width: 10%;
    transform: rotate(0deg);
  }
  10% {
    left: 0%;
    transform: rotate(0deg);
  }
  20% {
    width: 0%;
    left: 20%;
  }
  30% {
    width: 25%;
  }
  50% {
    left: 15%;
    width: 35%;
  }
  70% {
    width: 30%;
    left: 18%;
    transform: rotate(240deg);
  }
  90% {
    width: 30%;
    left: 10%;
  }
  100% {
    width: 2%;
    left: 25%;
    transform: rotate(360deg);
  }
}

@keyframes pan {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
  10% {
    transform: rotate(-2deg);
    transform-origin: top right;
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shadow {
  0% {
    width: 30%;
  }
  50% {
    width: 40%;
    left: 20px;
  }
  100% {
    width: 20%;
  }
}

.panLoader {
  width: var(--component-dimension);
  height: var(--component-dimension);
  padding-top: 25%;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
    position: relative;
    top: 10%;
    left: 0;
    z-index: -1;
    width: 60%;
    height: 45%;
    border: 10px solid transparent;
    border-bottom: 10px solid var(--loader-color);
    border-radius: 50%;
    animation: loader var(--timing) infinite;
    animation-timing-function: linear;
  }
  .panContainer {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    animation: pan var(--timing) infinite;
  }
  .pan {
    width: 60%;
    height: 20px;
    background: linear-gradient(var(--pan-color-light), var(--pan-color-dark));
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .handle {
    width: 40%;
    height: 10px;
    background: linear-gradient(var(--pan-color-light), var(--pan-color-dark));
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .shadow {
    position: relative;
    top: 15%;
    left: 15%;
    width: 30%;
    height: 8px;
    background: var(--color-shadow);
    border-radius: 20px;
    animation: shadow var(--timing)infinite;
  }

@media screen and (max-width: 1024px) {  
    .contents{
        flex-direction: column;
    }
    .buttonWrapper{
        gap:1rem;
        padding: 1rem;
    }

}

/* on mobile phones */
@media screen and (max-width: 600px) {
        .contents{
            flex-direction: column;
        }
        .buttonWrapper{
            gap:1rem;
            padding: 1rem;
        }
    }

